.btn {
  display: inline-block;
  color: var(--light-color);
  text-transform: uppercase;
  font-weight: 500;
  padding: 25px 65px;
  font-family: var(--second-font);
  border: solid 2px var(--light-color);
  border-radius: var(--main-radius);
  letter-spacing: 4px;
  transition: all .3s;
  font-size: var(--main-size);
  text-align: center;
  cursor: pointer;
  @include big-desktop {
    font-size: 12px;
  }

  @include mobile {
    line-height: 150%;
  }

  &:focus {
    outline: none;
  }
  @include hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
  &:active {
    color: var(--active-color);
    border-color: var(--active-color);
  }

  &--dark {
    color: var(--main-color);
    border-color: var(--main-color);
  }
}

.btn.focus-visible {
  border-color: var(--active-color);
}
