.footer {
  font-family: var(--second-font);
  background-color:#3e3e3e;

  &__top {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  &__container {
    justify-content: space-between;

    @include small-tablet {
      flex-wrap: wrap;
    }

    @include tablet {
      gap: 80px;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__about {
    img {
      display: block;
      margin: 0 auto;
    }

    @include small-tablet {
      order: 1;
      flex-basis: 100%;
    }


    @include mobile {
      order: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  &__descr {
    max-width: 400px;
    font-size: 16px;
    font-weight: 300;
    color: var(--light-color);
    line-height: 150%;

    @include small-tablet {
      max-width: none;
      text-align: justify;
    }
  }


  .social {
    &__list {
      gap: 25px;
    }

    &__item {
      transform: translateY(10%);
    }
    &__link {
      border-radius: 6px;
      & path {
        transition: all .3s;
      }
      &:hover path {
        fill: var(--accent-color);
      }
    }
  }
  .social__link.focus-visible {
    outline: 1px solid var(--active-color);
    outline-offset: 3px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: var(--light-color);

    @include mobile {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include mobile {
      align-items: center;
    }
    &--contact {
      .footer__link {
        white-space: nowrap;
        padding-left: 25px;
        &--phone, &--email {
          &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            bottom: 0;
            transform: translateY(-30%);
            background-repeat: no-repeat;
          }
        }
        &--phone {
          &::before {
            background-image: url('../../img/phone.svg');
          }
        }

        &--email {
          &::before {
            background-image: url('../../img/mail.svg');
            transform: translateY(-20%);
          }
        }

      }
    }
  }

  &__link {
    position: relative;
    color: var(--light-color);
    opacity: .6;
    font-weight: 200;
    font-size: 18px;
    line-height: 180%;
    transition: all .3s;
    @include hover {
      opacity: 1;
    }
    &:active {
      color: var(--active-color);
      opacity: 1;
    }
  }

  .footer__link.focus-visible {
    outline: 1px solid var(--active-color);
    outline-offset: 3px;
  }

  &__bottom {
    padding: 15px 0;
    background-color: #373737;
  }
  .container--bottom {
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      gap: 25px;
    }
  }

  &__rights {
    color: var(--light-color);
    font-weight: 300;
  }

  &__autor {
    color: var(--light-color);
    opacity: .8;
    font-weight: 300;
  }

  &__upper {
    text-transform:uppercase;
    color: var(--light-color);
  }

  &__map, &__contact {
    @include mobile {
      align-items: center;
    }
  }
}
