.offers {
  margin-top: var(--section-offset);

  &__descr {
    font-size: 24px;
    color: var(--text-color);
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;

    @include mobile {
      font-size: 18px;
    }
  }

  &__grid {
    display: grid;
    grid-template-areas:
    "a b"
    "c d";

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__img {
    height: 100%;
    &--first {
      grid-area: a;

      @include tablet {
        order: 0;
      }
    }
    &--second {
      grid-area: d;

      @include tablet {
        order: 2;
      }
    }
  }
}

.offer {
  &__info {
    background-color: #e4e4e4;
    padding: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &--first {
      grid-area: b;

      @include tablet {
        order: 1;
      }
    }

    &--second {
      grid-area: c;

      @include tablet {
        order: 3;
      }
    }
  }

  &__title {
    margin: 0;
    font-size: 36px;
    color: var(--main-color);
    font-weight: 300;
  }

  &__descr {
    margin: 0;
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
  }

  &__list {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    @include mobile {
      display: none;
    }
  }

  &__item {
    position: relative;
    color: var(--main-color);
    font-size: 12px;
    padding-top: 60px;
    padding-bottom: 10px;
    width: 70px;
    text-align: center;

    &::before {
      position: absolute;
      content: '';
      top: 10px;
      left: 50%;
      transform: translate(-50%, 0%);
      background-image: url('../../img/star.svg');
      width: 34px;
      height: 34px;
    }

    &--wifi {
      &::before {
        background-image: url('../../img/wifi.svg');
      }
    }

    &--tv {
      &::before {
        background-image: url('../../img/tv.svg');
      }
    }

    &--service {
      &::before {
        background-image: url('../../img/service.svg');
      }
    }

    &--kitchen {
      &::before {
        background-image: url('../../img/kitchen.svg');
      }
    }

    &--wc {
      &::before {
        background-image: url('../../img/wc.svg');
      }
    }

    &--shower {
      &::before {
        background-image: url('../../img/shower.svg');
      }
    }

    &--warm {
      &::before {
        background-image: url('../../img/warm.svg');
      }
    }

    &--nosmoking {
      &::before {
        background-image: url('../../img/nosmoking.svg');
      }
    }

    &--quiet {
      &::before {
        background-image: url('../../img/quiet.svg');
      }
    }

    &--coffee {
      &::before {
        background-image: url('../../img/coffee.svg');
      }
    }
  }

  &__btn {
    margin-top: 20px;
    padding: 15px 65px;
  }
}
