<section class="about" id="about">
  <div class="container about__container">
    <div class="about__heading heading">
      <h2 class="about__title title" data-aos="fade-up" data-aos-duration="1000">
        О нас
      </h2>
      <p class="about__subtitle subtitle" data-aos="fade-up" data-aos-duration="1000">
        Мини-отель "София"
      </p>
    </div>
    <div class="about__grid grid">
      <div class="about__content">
        <ul class="about__list list-reset">
          <li class="about__item">
            <h3 class="about__name" data-aos="fade-up" data-aos-duration="1000">
              Расположение
            </h3>
            <p class="about__descr" data-aos="fade-up" data-aos-duration="1000">
              Очень удобно расположен мини-отель в центре Санкт-Петербурга, в
  трёхстах метрах от Невского проспекта. Главный проспект Северной
  столицы, прогуливаясь по которому, вы обязательно найдёте огромное
  количество разнообразных кафе и ресторанов, а также объектов
  культурного наследия! В 3-8 минутах ходьбы станции метро «Площадь
  Восстания», «Маяковская» и «Владимирская». До Московского вокзала —
  500 метров.
            </p>
          </li>
          <li class="about__item">
            <h3 class="about__name" data-aos="fade-up" data-aos-duration="1000">
              Интерьер
            </h3>
            <p class="about__descr" data-aos="fade-up" data-aos-duration="1000">
              Современный ремонт, оборудованная и наполненная бытовой
  техникой кухня соединенная с общей зоной отдыха, в которой
  могут комфортно разместиться все проживающие, грамотно
  продуманный, удобный интерьер в номерах с большими  зеркалами.
            </p>
          </li>
          <li class="about__item">
            <h3 class="about__name" data-aos="fade-up" data-aos-duration="1000">
              Инфраструктура
            </h3>
            <p class="about__descr" data-aos="fade-up" data-aos-duration="1000">
              В шаговой доступности от отеля есть крупные торговые комплексы
  «Галерея», «Стокман» и кинотеатры, знаменитые памятники истории
  и архитектуры, огромное количество магазинов. Только на нашей улице
  «Пушкинской»,  расположено 4 музея и сквер с памятником
  А.С. Пушкину. 
            </p>
          </li>
        </ul>
        <div class="btn-wrapper" data-aos="fade-up" data-aos-duration="1000">
          <a href="https://ostrovok.ru/hotel/russia/st._petersburg/mid10292622/sofiya_minihotel_2/?q=2042&dates=04.02.2023-05.02.2023&guests=2&price=one&sid=a520fdab-48d1-4acb-a4ee-10884f50dfbf" target="_blank" class="about__btn btn btn--dark btn-reset">
            Забронировать
          </a>
        </div>
      </div>
      <div class="about__images">
          <img loading="lazy" src="../img/about-1.jpg" class="image about__img" width="535" height="357" alt="Комната мини-отеля 'София'" data-aos="fade-up" data-aos-duration="1000">
          <img loading="lazy" src="../img/about-2.jpg" class="image about__img" width="535" height="357" alt="Комната мини-отеля 'София'" data-aos="fade-up" data-aos-duration="1000">
      </div>
    </div>
  </div>
</section>
