<section class="attractions">
  <div class="container">
    <div class="attractions__heading">
      <h2 class="attractions__title title">
        Достопримечательности
      </h2>
      <h3 class="attractions__subtitle subtitle">
        Где Вдохнуть Культурный Воздух?
      </h3>
    </div>
    <div class="attractions__body">
      <ul class="attractions__list list-reset">
        <li class="attractions__item"> <!-- 1 -->
          <article class="attraction-card">
            <div class="attraction-card__gradient"><picture>
              <source srcset="../img/isak.webp" type="image/webp">
              <img loading="lazy" src="../img/isak.jpg" class="image" width="380px" height="541px" alt="">
            </picture></div>
            <h6 class="attraction-card__title">
              Исаакиевский собор
            </h6>
            <p class="attraction-card__distance">
              3.5 км
            </p>
            <button class="attraction-card__btn btn btn-reset">Подробнее</button>
          </article>
        </li>
        <li class="attractions__item"> <!-- 2 -->
          <article class="attraction-card">
            <div class="attraction-card__gradient"><picture class="attraction-card__picture">
              <source srcset="../img/ermitazh.webp" type="image/webp">
              <img loading="lazy" src="../img/ermitazh.jpg" class="image" width="380px" height="541px" alt="">
            </picture></div>
            <h6 class="attraction-card__title">
              Эрмитаж
            </h6>
            <p class="attraction-card__distance">
              3.3 км
            </p>
            <button class="attraction-card__btn btn btn-reset">Подробнее</button>
          </article>
        </li>
        <li class="attractions__item"> <!-- 3 -->
          <article class="attraction-card">
            <div class="attraction-card__gradient"><picture>
              <source srcset="../img/petropavlovsk.webp" type="image/webp">
              <img loading="lazy" src="../img/petropavlovsk.jpg" class="attraction-card__image" width="380px" height="541px" alt="">
            </picture></div>
            <h6 class="attraction-card__title">
              Петропавловская крепость
            </h6>
            <p class="attraction-card__distance">
              4.7 км
            </p>
            <button class="attraction-card__btn btn btn-reset">Подробнее</button>
          </article>
        </li>
        
        <li class="attractions__item">
          <article class="attraction-card">
            <div class="attraction-card__gradient"><picture class="attraction-card__picture">
              <source srcset="../img/dvorcplosh.webp" type="image/webp">
              <img loading="lazy" src="../img/dvorcplosh.jpg" class="image" width="380px" height="541px" alt="">
            </picture></div>
            <h6 class="attraction-card__title">
              Дворцовая площадь
            </h6>
            <p class="attraction-card__distance">
              3.1 км
            </p>
            <button class="attraction-card__btn btn btn-reset">Подробнее</button>
          </article>
        </li>
        <li class="attractions__item">
          <article class="attraction-card">
            <div class="attraction-card__gradient"><picture class="attraction-card__picture">
              <source srcset="../img/aleksteatr.webp" type="image/webp">
              <img loading="lazy" src="../img/aleksteatr.jpg" class="image" width="380px" height="541px" alt="">
            </picture></div>
            <h6 class="attraction-card__title">
              Александрийский театр
            </h6>
            <p class="attraction-card__distance">
              1.8 км
            </p>
            <button class="attraction-card__btn btn btn-reset">Подробнее</button>
          </article>
        </li>
        <li class="attractions__item">
          <article class="attraction-card">
            <div class="attraction-card__gradient"><picture class="attraction-card__picture">
              <source srcset="../img/nekropol.webp" type="image/webp">
              <img loading="lazy" src="../img/nekropol.jpg" class="image" width="380px" height="541px" alt="">
            </picture></div>
            <h6 class="attraction-card__title">
              Некрополь мастеров искусств
            </h6>
            <p class="attraction-card__distance">
              2.4 км
            </p>
            <button class="attraction-card__btn btn btn-reset">Подробнее</button>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>