<section class="entertainment">
  <div class="container">
    <div class="entertainment__heading heading">
      <h2 class="entertainment__title title">
        Тусануть
      </h2>
      <h3 class="entertainment__subtitle subtitle">
        Развлечения
      </h3>
    </div>
    <div class="entertainment__content">
      <div class="entertainment__info">
        <ul class="entertainment__list list-reset">
          <li class="entertainment__item">
            <h6 class="entertainment__name">
              Улица Думская
            </h6>
            <p class="entertainment__descr">
              Думская улица является эпицентром ночной жизни Санкт-Петербурга. Это место, где туристы и местные жители собираются для неформального общения, танцев, пения и весёлого времяпровождения.
            </p>
          </li>
          <li class="entertainment__item">
            <h6 class="entertainment__name">
              Улица Жуковского
            </h6>
            <p class="entertainment__descr">
              Улица Жуковского – это скопление авторских баров, каждый из которых хочет удивить тебя своей уникальной коктейльной картой.
            </p>
          </li>
          <li class="entertainment__item">
            <h6 class="entertainment__name">
              Улица Рубинштейна
            </h6>
            <p class="entertainment__descr">
              Улица Рубинштейна в разгар тусовки превращается в самый настоящий праздник жизни. Многочисленные бары и рестораны по-европейски раскрывают окна настежь, изнутри на улицу выплёскивается бодрящая музыка, случайные прохожие пускаются в пляс.
            </p>
          </li>
          <li class="entertainment__item">
            <h6 class="entertainment__name">
              Улица Некрасова
            </h6>
            <p class="entertainment__descr">
              Улица Некрасова – это рай для любителей крафтового пива. Именно тут ты найдёшь не менее 20 баров, каждый из которых откроет для тебя своё видение на культуру крафтовых пивоварен. Каждый бармен – гид, который и расскажет и даст продегустировать.
            </p>
          </li>
          <li class="entertainment__item">
            <h6 class="entertainment__name">
              Литейный проспект
            </h6>
            <p class="entertainment__descr">
              Днём литейный – это милые кафешки и книжные магазины, а ночью проспект преображается в одно из самых тусовых мест города. Тут можно найти бары для любителей вина и крупные ночные клубы, далеко ходить не надо.
            </p>
          </li>
        </ul>
      </div>
      <div class="entertainment__images">
        <picture class="entertainment__image">
          <source srcset="../img/entertainment-1.webp" type="image/webp">
          <img loading="lazy" src="../img/entertainment-1.jpg" class="image" alt="" width="680px" height="425px">
        </picture>
        <picture class="entertainment__image">
          <source srcset="../img/entertainment-2.webp" type="image/webp">
          <img loading="lazy" src="../img/entertainment-2.jpg" class="image" alt="" width="680px" height="425px">
        </picture>
      </div>
    </div>
  </div>
</section>
