<section class="food">
  <div class="container">
    <div class="food__heading heading">
      <h2 class="food__title title">
        Гурманам
      </h2>
      <h3 class="food__subtitle subtitle">
        Рестораны Рядом
      </h3>
    </div>
    <div class="food__content">
      <div class="food__images">
        <picture class="food__image food__image--big">
          <source srcset="../img/food-big.webp" type="image/webp">
          <img loading="lazy" src="../img/food-big.jpg" class="image" alt="" width="680px" height="450px">
        </picture>
        <picture class="food__image food__image--second">
          <source srcset="../img/food-small-1.webp" type="image/webp">
          <img loading="lazy" src="../img/food-small-1.jpg" class="image" alt="" width="340px" height="225px">
        </picture>
        <picture class="food__image food__image--thirst">
          <source srcset="../img/food-small-2.webp" type="image/webp">
          <img loading="lazy" src="../img/food-small-2.jpg" class="image" alt="" width="340px" height="225px">
        </picture>
      </div>
      <div class="food__descr">
        Перекусить и отдохнуть вы сможете в имеющихся совсем рядом столовых, кафе, барах и суши-барах. И не стоит забывать про главную
        ГАСТРО-тропу города, ул Рубинштейна! В каждом из этих заведений, вы будите поглощать глоток Питерской атмосферы
      </div>
    </div>
  </div>
</section>
