<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>София | Мини-отель</title>
  <meta name="description" content="Уютный отель рядом с метро Площадь Восстания по низкой цене.
  Комфорт, удобство и доступность в одном месте. Бронируйте сейчас для бюджетного отдыха!">
  <meta name="mailru-domain" content="lClIEddH17jJGEEl" />
  <meta name="mailru-verification" content="659e3314b2fd143a" />
  <link rel="preload" href="fonts/PlayfairDisplay-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
