<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo__link" href="#"><img src="../img/logo.svg" alt="Logo Hotel Sofia" class="logo"></a>
      <div class="header__wrapper" data-menu>
        <nav class="header__nav nav">
          <ul class="nav__list list-reset">
            <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Номера</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          </ul>
        </nav>
        <button class="header__btn btn btn-reset" data-graph-path="contact">Забронировать</button>
      </div>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
