<section class="offers" id="offers">
  <div class="container">
    <div class="offers__heading heading">
      <p class="offers__title title" data-aos="fade-up" data-aos-duration="1000">
        Доступно
      </p>
      <h2 class="offers__subtitle subtitle" data-aos="fade-up" data-aos-duration="1000">
        Предложения
      </h2>
      <p class="offers__descr" data-aos="fade-up" data-aos-duration="1000">
        Лучшие номера для вашего комфортного отдыха
      </p>
    </div>
    <div class="offers__content">
      <div class="offers__grid">
        <picture class="offers__img offers__img--first" data-aos="fade-up" data-aos-duration="1000">
          <source srcset="../img/offer-1.webp" type="image/webp" loading="lazy">
          <img loading="lazy" src="../img/offer-1.jpg" class="image" alt="Комната мини-отеля 'София'" width="977" height="561">
        </picture>
        <div class="offer__info offer__info--first" data-aos="fade-up" data-aos-duration="1000">
          <h3 class="offer__title">Номера</h3>
          <p class="offer__descr">
            Для вашего комфортного размещения и отдыха предлагаются
            двухместные номера площадью 24 м² с
            одной двухспальной кроватью. Трёхместные
            номера площадью 24 м² с одной односпальной
            и одной двуспальной кроватью. Есть общая
            кухня для вашего удобства.
          </p>
          <ul class="offer__list list-reset">
            <li class="offer__item offer__item--wifi">WiFi</li>
            <li class="offer__item offer__item--tv">TV</li>
            <li class="offer__item offer__item--service">Сервис</li>
            <li class="offer__item offer__item--kitchen">Кухня</li>
            <li class="offer__item offer__item--wc">Туалет</li>
          </ul>
          <a href="https://ostrovok.ru/hotel/russia/st._petersburg/mid10292622/sofiya_minihotel_2/?q=2042&dates=04.02.2023-05.02.2023&guests=2&price=one&sid=a520fdab-48d1-4acb-a4ee-10884f50dfbf" target="_blank" class="offer__btn btn btn--dark" aria-label="Заказать">От 2300 руб./сутки</a>
        </div>
        <div class="offer__info offer__info--second" data-aos="fade-up" data-aos-duration="1000">
          <h5 class="offer__title">Номера</h5>
          <p class="offer__descr">
            Также имеется четырёхместный номер площадью 24 м² с
            одной двухспальной и двумя односпальными кроватями.
            В каждом номере имеется ширма, с помощью которой
            можно зонировать номер. У всех номеров окна выходят
            в тихий двор для качественного отдыха.
          </p>
          <ul class="offer__list list-reset">
            <li class="offer__item offer__item--shower">Душ</li>
            <li class="offer__item offer__item--warm">Отопление</li>
            <li class="offer__item offer__item--nosmoking">Некурящие</li>
            <li class="offer__item offer__item--quiet">Тихий двор</li>
            <li class="offer__item offer__item--coffee">Кофеварка</li>
          </ul>
          <button class="offer__btn btn btn--dark" aria-label="Связаться с нами" data-graph-path="contact">Связаться с нами</button>
        </div>
        <picture class="offers__img offers__img--second" data-aos="fade-up" data-aos-duration="1000">
          <source srcset="../img/offer-2.webp" type="image/webp" loading="lazy">
          <img loading="lazy" src="../img/offer-2.jpg" class="image" alt="Комната мини-отеля 'София'" width="977" height="561">
        </picture>
      </div>
    </div>
  </div>
</section>
