<section class="offers">
  <div class="container">
    <div class="offers__heading">
      <h2 class="offers__title title">
        Доступно
      </h2>
      <h3 class="offers__subtitle subtitle">
        Предложения
      </h3>
      <p class="offers__descr">
        Лучшие номера для вашего комфортного отдыха
      </p>
    </div>
    <div class="offers__content">
      <div class="offers__grid">
        <img src="../img/offer-1.jpg" alt="" class="offers__img offers__img--first">
        <div class="offer__info offer__info--first">
          <h5 class="offer__title">Номера</h5>
          <p class="offer__descr">
            Для вашего комфортного размещения и отдыха предлагаются 
            двухместные номера площадью 24 м² с 
            одной двухспальной кроватью. Трёхместные 
            номера площадью 24 м² с одной односпальной 
            и одной двуспальной кроватью. Есть общая 
            кухня для вашего удобства.
          </p>
          <ul class="offer__list list-reset">
            <li class="offer__item offer__item--wifi">WiFi</li>
            <li class="offer__item offer__item--tv">TV</li>
            <li class="offer__item offer__item--service">Сервис</li>
            <li class="offer__item offer__item--kitchen">Кухня</li>
            <li class="offer__item offer__item--wc">Туалет</li>
          </ul>
          <a class="offer__btn btn btn--dark">Забронировать</a>
        </div>
        <div class="offer__info offer__info--second">
          <h5 class="offer__title">Номера</h5>
          <p class="offer__descr">
            Для вашего комфортного размещения и отдыха предлагаются 
            двухместные номера площадью 24 м² с 
            одной двухспальной кроватью. Трёхместные 
            номера площадью 24 м² с одной односпальной 
            и одной двуспальной кроватью. Есть общая 
            кухня для вашего удобства.
          </p>
          <ul class="offer__list list-reset">
            <li class="offer__item offer__item--wifi">WiFi</li>
            <li class="offer__item offer__item--tv">TV</li>
            <li class="offer__item offer__item--service">Сервис</li>
            <li class="offer__item offer__item--kitchen">Кухня</li>
            <li class="offer__item offer__item--wc">Туалет</li>
          </ul>
          <a class="offer__btn btn btn--dark">Забронировать</a>
        </div>
        <img src="../img/offer-1.jpg" alt="" class="offers__img offers__img--second">
      </div>
    </div>
  </div>
</section>