<section class="pros">
  <div class="container">
    <div class="pros__heading">
      <h2 class="pros__title title">
        Плюсы
      </h2>
      <h3 class="pros__subtitle subtitle">
        Почему Именно Мы?
      </h3>
    </div>
    <div class="pros__content">
      <ul class="pros__list list-reset">
        <ul class="pros__sublist list-reset">
          <li class="pros__item">
            <img src="../img/star.svg" alt="" class="pros__icon">
            <h4 class="pros__name">
              Комфорт
            </h4>
            <p class="pros__descr">
              Мы сделаем ваш отпуск максимально
              приятным
            </p>
          </li>
          <li class="pros__item">
            <img src="../img/star.svg" alt="" class="pros__icon">
            <h4 class="pros__name">
              Расположение
            </h4>
            <p class="pros__descr">
              Самое сердце Санкт-Петербурга
            </p>
          </li>
        </ul>
        <img src="../img/iphone.png" alt="" class="pros__img">
        <ul class="pros__sublist list-reset">
          <li class="pros__item">
            <img src="../img/star.svg" alt="" class="pros__icon">
            <h4 class="pros__name">
              Качество
            </h4>
            <p class="pros__descr">
              Все для вашего идеального отдыха
            </p>
          </li>
          <li class="pros__item">
            <img src="../img/star.svg" alt="" class="pros__icon">
            <h4 class="pros__name">
              Стоимость
            </h4>
            <p class="pros__descr">
              Максимально доступные цены
            </p>
          </li>
        </ul>
      </ul>
      <button class="pros__btn btn btn--dark btn-reset">
        Забронировать
      </button>
    </div>
  </div>
</section>
