<section class="reviews" id="reviews">
  <div class="container">
    <div class="reviews__content">
      <ul class="reviews__list list-reset">
        <li class="reviews__item" data-aos="fade-up" data-aos-duration="1000">
          <article class="review-card">
            <p class="review-card__author">
              Елена
            </p>
            <p class="review-card__date">
              18 июля 2021г.
            </p>
            <div class="review-card__rate">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
            </div>
            <p class="review-card__title">
              Отличный вариант за умеренную плату
            </p>
            <p class="review-card__descr">
              Отель расположен очень удобно, примерно в 10 минутах ходьбы от Московского вокзала и станции метро. Стоит на тихой улице, окна во двор, нет городского шума.
              Персонал очень доброжелательный!
              У нас был семейный номер с отдельным санузлом, кухня общая на 4 номера. Кухня оснащена всевозможной бытовой техникой, мы, правда, приходили только спать, почти ничем не пользовались, но видно, что есть всё, что душе угодно. В санузле шампунь, гель для душа и т.п. Везде чисто.
              Отель открылся недавно, ремонт свежий, все исправно.
              Соотношение цена/качество полностью устроило.
            </p>
          </article>
        </li>
        <li class="reviews__item" data-aos="fade-up" data-aos-duration="1000">
          <article class="review-card">
            <p class="review-card__author">
              Виктория
            </p>
            <p class="review-card__date">
              5 сентября 2021г.
            </p>
            <div class="review-card__rate">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
            </div>
            <p class="review-card__title">
              Великолепно
            </p>
            <p class="review-card__descr">
              Безумно приятный и добрый персонал и сам хостел в принципе. Находится недалеко от центра города, метро в 5 минутах, также рядом есть круглосуточный магазин. Очень тихий район. Были очень довольны поездкой.
            </p>
          </article>
        </li>
        <li class="reviews__item" data-aos="fade-up" data-aos-duration="1000">
          <article class="review-card">
            <p class="review-card__author">
              Евгения
            </p>
            <p class="review-card__date">
              16 августа 2021г.
            </p>
            <div class="review-card__rate">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
            </div>
            <p class="review-card__title">
              Великолепно
            </p>
            <p class="review-card__descr">
              Заказала номер за 1,5 суток, считаю, что просто повезло. Администратор Маргарита со мной созвонилась практически сразу, а после лично встретив все показала, рассказала, выдала ключи. Номер очень понравился, в отели очень уютно, везде чистота и порядок. На кухне все есть как и в гигиенической комнате. Постельное белье как и полотенца были идеально чистыми и свежими. Расположение отеля очень удобное. Большое спасибо за комфортный отдых.
            </p>
          </article>
        </li>
        <li class="reviews__item" data-aos="fade-up" data-aos-duration="1000">
          <article class="review-card">
            <p class="review-card__author">
              Антон
            </p>
            <p class="review-card__date">
              18 июля 2021г.
            </p>
            <div class="review-card__rate">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
              <img src="../img/rating-star.svg" alt="" class="review-card__star" width="16" height="16">
            </div>
            <p class="review-card__title">
              Всё понравилось
            </p>
            <p class="review-card__descr">
              Отличное местечко! Приехали на 23 февраля, в итоге остались ещё на + 2 дня. Удобное месторасположение.
              Чисто и уютно. С удовольствием, будем рекомендовать
            </p>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
