<section class="rooms" id="rooms">
  <div class="container">
    <div class="rooms__heading heading">
      <p class="rooms__title title" data-aos="fade-up" data-aos-duration="1000">
        Уютно
      </p>
      <h2 class="rooms__subtitle subtitle" data-aos="fade-up" data-aos-duration="1000">
        Номера
      </h2>
    </div>
    <div class="rooms__wrapper" data-aos="fade-up" data-aos-duration="1000">
      <div class="swiper rooms__content">
        <div class="swiper-wrapper">
          <div class="swiper-slide ">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-1.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-1.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-2.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-2.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-3.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-3.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-4.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-4.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-5.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-5.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-6.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-6.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-7.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-7.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-8.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-8.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-9.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-9.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-10.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-10.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-11.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-11.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-12.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-12.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-13.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-13.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-14.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-14.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-15.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-15.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-16.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-16.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-17.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-17.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-18.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-18.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-19.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-19.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-20.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-20.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-21.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-21.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="rooms__item">
              <picture>
                <source srcset="../img/rooms-22.webp" type="image/webp">
                <img loading="lazy" src="../img/rooms-22.jpg" class="image" width="1180" height="786" alt="Комната мини-отеля 'София'" loading="lazy">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <button class="btn-reset rooms__slider-btn rooms__slider-btn--prev" aria-label="Перейти к предыдущему слайду"></button>
      <button class="btn-reset rooms__slider-btn rooms__slider-btn--next" aria-label="Перейти к следующему слайду"></button>
    </div>
    <div class="swiper-scrollbar rooms__scroll" data-aos="fade-up" data-aos-duration="1000"></div>
  </div>
</section>
