// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "PlayfairDisplay", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --offset: 20px;
  --section-offset: 30px;
  --heading-offset: 50px;
  --main-radius: 5px;

  // colors
  --light-color: #fff;
  --accent-color: #0063BF;
  --active-color: #003E61;
  --title-color: rgba(0, 14, 49, .3);
  --main-color: #000F2B;
  --text-color: #3A3A3A;

  //sizes
  --main-size: 16px;


}
